#### Import necessary libraries

In [23]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn import metrics

#### Load datasets

In [4]:
train = pd.read_csv("train_data.csv")
test = pd.read_csv("test_data.csv")

In [6]:
train.head()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1

In [8]:
test.head()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,791,792,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1
1,792,793,0,0,0.3500,0.135753,0,0,1,1.0,0,0,0,1,0,0,1
2,793,794,0,1,0.3500,0.059914,1,0,0,0.0,1,0,0,0,1,0,0
3,794,795,0,1,0.3125,0.015412,0,0,1,0.0,1,0,0,0,0,0,1
4,795,796,0,1,0.4875,0.025374,0,1,0,0.0,1,0,0,0,0,0,1

#### Selecting columns

In [10]:
X_train = train.iloc[:, [3,4,5,6,7,8,9,10,11,12,13,14,15,16]].values
y_train = train.iloc[:, 2].values
X_test = test.iloc[:, [3,4,5,6,7,8,9,10,11,12,13,14,15,16]].values
y_test = test.iloc[:, 2].values

#### 1. Building SVM model

In [24]:
#create a svm classifier
svm = svm.SVC(kernel='linear')
#train the model using the training sets
svm.fit(X_train, y_train)
#predict the response for test dataset
y_pred_svm = svm.predict(X_test)

In [25]:
print("Accuracy of the SVM model is:", metrics.accuracy_score(y_test,y_pred_svm))

Accuracy of the SVM model is: 0.83

#### 2. Building KNN model

In [28]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train, y_train)
y_prediction_knn = knn.predict(X_test)
print("Accuracy of the KNN model when k = 2 is:",metrics.accuracy_score(y_test, y_prediction_knn))

Accuracy of the KNN model when k = 2 is: 0.83

#### 3. Building the decision tree model

In [33]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
y_prediction_dct = decision_tree.predict(X_test)
print("Accuracy of the decision tree model is:",metrics.accuracy_score(y_test, y_prediction_dct))

Accuracy of the decision tree model is: 0.82

#### 4. Building the logistic regression model

In [36]:
l_regression = LogisticRegression(random_state =0)
l_regression.fit(X_train, y_train)
y_prediction_lr = l_regression.predict(X_test)
print("Accuracy of the logistic regression model is:",metrics.accuracy_score(y_test, y_prediction_lr))

Accuracy of the logistic regression model is: 0.87

/Users/lalaaasunday/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

SMV mode  and KNN model when k=2 gives a slightly higher accuracy than the decision tree model. However, the logistric regression model still performs best among all performed models.